<div class="navbar-screen">
  <div class="navigation">
    <ul>
      <li class="list <%= 'active' if params[:controller] == 'users' && params[:action] == 'index' %>">
        <a href="<%= root_path %>">
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <%# <span class="text-align">Home</span> %>
        </a>
      </li>
      <li class="list <%= 'active' if params[:controller] == 'users' && params[:action] == 'astroboard' %>">
        <a href="<%= astroboard_path %>">
        <span class="icon">
          <ion-icon name="planet-outline"></ion-icon>
        </span>
        <%# <span class="text-align">Astroboard</span> %>
        </a>
      </li>
      <li class="list <%= 'active' if params[:controller] == 'matches' && params[:action] == 'index' %>">
        <a href="<%=matches_path%>">
        <span class="icon">
          <ion-icon name="heart-outline"></ion-icon>
        </span>
        <%# <span class="text-align">Crushs</span> %>
        </a>
      </li>
      <li class="list <%= 'active' if params[:controller] == 'users' && params[:action] == 'dashboard' %>">
        <a href="<%=dashboard_path%>">
        <span class="icon">
          <ion-icon name="person-outline"></ion-icon>
        </span>
        <%# <span class="text-align">Dashboard</span> %>
        </a>
      </li>
      <div class="indicator"></div>
    </ul>
  </div>
</div>
