<div class="navbar-screens">
  <div class="navigation">
    <ul>
      <li class="list <%= 'active' if params[:controller] == 'users' && params[:action] == 'index' %>">
        <a href="<%= root_path %>">
        <span class="icon">
          <ion-icon name="home"></ion-icon>
        </span>
        </a>
      </li>
      <li class="list <%= 'active' if params[:controller] == 'users' && params[:action] == 'astroboard' %>">
        <a href="<%= astroboard_path %>">
        <span class="icon">
          <ion-icon name="planet"></ion-icon>
        </span>
        </a>
      </li>
      <li class="list <%= 'active' if params[:controller] == 'matches' && params[:action] == 'index' %>">
        <a href="<%= matches_path %>">
        <span class="icon">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
        </span>
        </a>
      </li>
      <li class="list <%= 'active' if params[:controller] == 'users' && params[:action] == 'dashboard' %>">
        <a href="<%= dashboard_path %>">
        <span class="icon">
          <ion-icon name="person"></ion-icon>
        </span>
        </a>
      </li>
    </ul>
  </div>
</div>
