  <div class="container text-align-center mt-5">
    <div class="container">
      <% compatibility_degree = ['highly_compatible', 'mid_compatible', 'low_compatible', 'neutral', 'incompatible', 'mid_incompatible', 'highly_incompatible'] %>
      <% compatibility_degree.each do |degree| %>
        <div class="row justify-content-center">
          <div class="col-5 border text-center">
            <% case degree %>
            <% when 'highly_compatible' %>
              <%= '+++' %>
            <% when 'mid_compatible' %>
              <%= '++' %>
            <% when 'low_compatible' %>
              <%= '+' %>
            <% when 'neutral' %>
              <%= '=' %>
            <% when 'incompatible' %>
              <%= '-' %>
            <% when 'mid_incompatible' %>
              <%= '--' %>
            <% else 'highly_incompatible' %>
              <%= '---' %>
            <% end %>
          </div>
          <div class="col-5 border border-left-0 text-center">
            <%= @zodiac_compatibility[degree].join(', ') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
