<div class="pb-5">
  <!--score-->

  <div class="container">

    <div class="">
      <h4>Test your score with</h4>
    </div>

    <div class="pt-4" data-controller="score"
                      data-score-current-birth-date-value="<%= current_user.birth_date %>"
                      data-score-current-birth-hour-value="<%= current_user.birth_hour %>"
                      data-score-current-latitude-value="<%= current_user.latitude %>"
                      data-score-current-longitude-value="<%= current_user.longitude %>"
                      data-score-current-gender-value="<%= current_user.gender %>">

      <form>
        <div class="form-group">
          <label for="birth_day">Birthday of your crush</label>
          <input type="date" class="form-control" id="birth-day" data-score-target="birthDate" placeholder="Birthday of your Crush">
        </div><br>

        <div class="form-group">
          <label for="birth_hour">Birth hour of your crush</label>
          <input type="time" class="form-control" id="birth-hour" data-score-target="birthHour" placeholder="Birth hour of your Crush">
        </div><br>

        <div class="form-group">
          <label for="birth_location">Birth location of your crush</label>
          <input type="hidden" data-score-target="latitude">
          <input type="hidden" data-score-target="longitude">
          <input data-score-target="field" id= "birth_location" type="search" class="pac-target-input form-control" placeholder=" " autocomplete="off">
        </div><br>

        <div class="form-group d-grid gap-2">
          <button type="button" class="btn btn-outline-light btn-lg" data-action="click->score#match_percentage">Test</button>
        </div><br>
      </form>

      <div data-score-target="scoreAlert" class="d-none">
        <div class="text-center">
          <div id="matchAlert">88%</div>
        </div>
      </div>

    </div>

  </div>

  <!--compatibilies-->

  <div class="container">

    <div class="">
      <br>
      <h4>Your compatibilities</h4>
    </div>

    <div class="pt-4">
      <% compatibility_degree = ['highly_compatible', 'mid_compatible', 'low_compatible', 'neutral', 'incompatible', 'mid_incompatible', 'highly_incompatible'] %>
      <% compatibility_degree.each do |degree| %>
        <div class="row justify-content-center">
          <div class="col-4 border-bottom text text-center font-weight-light">
            <% case degree %>
            <% when 'highly_compatible' %>
              <%= '❤❤❤'%>
            <% when 'mid_compatible' %>
              <%= '❤❤' %>
            <% when 'low_compatible' %>
              <%= '❤' %>
            <% when 'neutral' %>
              <%= '=' %>
            <% when 'incompatible' %>
              <%= '⚠' %>
            <% when 'mid_incompatible' %>
              <%= '⚠⚠' %>
            <% else 'highly_incompatible' %>
              <%= '⚠⚠⚠' %>
            <% end %>
          </div>
          <div class="col-8 border-bottom text-center">
            <%= @zodiac_compatibility[degree].join(', ') %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>
