<div class="container text-align-center mt-5">
  <br>
  <div>
    <br>
    <div class="border-bottom">
      <h4 class="mb-1">Test your score with</h4>
      <br>
    </div>
  </div>

  <div class="pt-4 bottom-border">
    <form>
      <div class="form-group">
        <input type="date" class="form-control" placeholder="Enter the birthday of your Crush">
      </div>

      <div class="form-group">
        <input type="hour" class="form-control" placeholder="Enter the birthhour of your Crush">
      </div>

      <div class="form-group">
        <input type="string" class="form-control" placeholder="Enter the birthlocation of your Crush">
      </div>
      <br>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

<br>
<br>
  <div class="border-bottom">
    <h4 class="mb-1">My astro compatibilites</h4>
    <br>
  </div>

  <div class="container">
    <br>
    <div>
      <% compatibility_degree = ['highly_compatible', 'mid_compatible', 'low_compatible', 'neutral', 'incompatible', 'mid_incompatible', 'highly_incompatible'] %>
      <% compatibility_degree.each do |degree| %>
        <div class="row justify-content-center">
          <div class="col-6 border-bottom text text-center font-weight-light">
            <% case degree %>
            <% when 'highly_compatible' %>
              <%= '+++'%>
            <% when 'mid_compatible' %>
              <%= '++' %>
            <% when 'low_compatible' %>
              <%= '+' %>
            <% when 'neutral' %>
              <%= '=' %>
            <% when 'incompatible' %>
              <%= '-' %>
            <% when 'mid_incompatible' %>
              <%= '--' %>
            <% else 'highly_incompatible' %>
              <%= '---' %>
            <% end %>
          </div>
          <div class="col-6 border-bottom text-center">
            <%= @zodiac_compatibility[degree].join(', ') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
