<div class="container text-align-center">

  <div class="row astrotab pb-5">

    <div class="col-1">
      <h5 class="verticaltext">SIGNS</h5>
    </div>

    <div class="col-10">

      <div class="border-bottom">

        <div class="row astrotab">

          <div class ="col-4 text"> <%=current_user.rising.capitalize%></div>
          <div class ="col-6 grey-background pt-1"><h5>↑ASCENDANT</h5></div>
          <div class ="col-2"><h5>1</h5></div>

        </div>

      </div>
      <% @signs.each do |sign| %>
        <% if sign.count == 1 %>
          <div class="border-bottom">
            <div class="row astrotab">

              <div class ="col-4 text">
                <%=sign[0]["sign"]%>
              </div>

              <div class ="col-6 grey-background pt-1">
                <h5><%=sign[0]["logo"]%><%=sign[0]["planet"]%></h5>
              </div>

              <div class ="col-2">
                <h5><%=sign[0]["house"]%></h5>
              </div>

            </div>

          </div>

        <% elsif sign.count == 2 %>
          <div class="border-bottom">

            <div class="row astrotab">

              <div class ="col-4 text">
                <%=sign[0]["sign"]%>
              </div>

              <div class ="col-6 grey-background pt-1">
                <h5><%=sign[0]["logo"]%><%=sign[0]["planet"]%></h5>
              </div>

              <div class ="col-2">
                <h5><%=sign[0]["house"]%></h5>
              </div>
            </div>

            <div class="row astrotab">
              <div class ="col-4 text">
              </div>

              <div class ="col-6 grey-background pt-1">
                <h5><%=sign[1]["logo"]%><%=sign[1]["planet"]%></h5>
              </div>

              <div class ="col-2">
              </div>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-1 d-flex">
      <h5 class="verticaltext">HOUSES</h5>
    </div>

  </div>
</div>
