

    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%=@third_sign["sign"]%></div>
      <div class ="col-4 padding pink-background"><em><%=@third_sign["logo"]%></em><%=@third_sign["planet"]%></div>
      <div class ="col-2 padding border"><h3><%=@third_sign["house"]%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%=@fourth_sign["sign"]%></div>
      <div class ="col-4 padding pink-background"><em><%=@fourth_sign["logo"]%></em><%=@fourth_sign["planet"]%></div>
      <div class ="col-2 padding border"><h3><%=@fourth_sign["house"]%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%=@fifth_sign["sign"]%></div>
      <div class ="col-4 padding pink-background"><em><%=@fifth_sign["logo"]%></em><%=@fifth_sign["planet"]%></div>
      <div class ="col-2 padding border"><h3><%=@fifth_sign["house"]%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%=@sixth_sign["sign"]%></div>
      <div class ="col-4 padding pink-background"><em><%=@sixth_sign["logo"]%></em><%=@sixth_sign["planet"]%></div>
      <div class ="col-2 padding border"><h3><%=@sixth_sign["house"]%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%=@seventh_sign["sign"]%></div>
      <div class ="col-4 padding pink-background"><em><%=@seventh_sign["logo"]%></em><%=@seventh_sign["planet"]%></div>
      <div class ="col-2 padding border"><h3><%=@seventh_sign["house"]%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%=@eighth_sign["sign"]%></div>
      <div class ="col-4 padding pink-background"><em><%=@eighth_sign["logo"]%></em><%=@eighth_sign["planet"]%></div>
      <div class ="col-2 padding border"><h3><%= @eighth_sign["house"]%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%=@ninth_sign["planet"]%></div>
      <div class ="col-4 padding pink-background"><em><%=@ninth_sign["logo"]%></em><%=@ninth_sign["planet"]%></div>
      <div class ="col-2 padding border"><h3><%=@ninth_sign["house"]%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%=@tenth_sign["sign"]%></div>
      <div class ="col-4 padding pink-background"><em><%=@tenth_sign["logo"]%></em><%=@tenth_sign["planet"]%></div>
      <div class ="col-2 padding border"><h3><%=@tenth_sign["house"]%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
    <div class="row">
      <div class ="col-1 padding"></div>
      <div class ="col-4 padding border"><%=@eleventh_sign["sign"]%></div>
      <div class ="col-4 padding pink-background"><em><%=@eleventh_sign["logo"]%></em><%=@eleventh_sign["planet"]%></div>
      <div class ="col-2 padding border"><h3><%=@eleventh_sign["house"]%></h3></div>
      <div class ="col-1 padding"></div>
    </div>
  </div>
