<!-- <div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.username %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div> -->

<!-- app/views/messages/_message.html.erb -->
<% sender = message.user == current_user %>
<!-- the message will display on the right side of the chat if the `sender` class is present -->
<div class="message <%= 'sender' if sender %>">
  <div class="message-content">
    <% if sender %>
      <%= cl_image_tag current_user.photos.first&.key, alt: "#{current_user.username}'s avatar", class: "message-avatar" %>
    <% else %>
      <%= cl_image_tag message.user.photos.first&.key, alt: "#{message.user.username}'s avatar", class: "message-avatar" %>
    <% end %>
    <p>
      <%= message.content %>
    </p>
  </div>

  <div class="message-infos">
    <p>
      <%= message.created_at.strftime("%H:%M") %>
    </p>
  </div>
  <div>
  </div>
</div>

      <%# = sender ? 'You' : message.user.username at = message.created_at.strftime("%H:%M") %>
