  <div class="chatroom-header">
    <% @chatroom.matches.each do |match| %>
      <% if match.user_id != current_user.id %>
        <%= cl_image_tag match.user.photos.first.key, :class =>"chatroom-avatar", crop: :fill %>
        <h5><%= match.user.username %></h5>
          <%# <p>= match.user.created_at</p> %>
      <% elsif match.mate_id != current_user.id%>
        <%= cl_image_tag match.mate.photos.first.key, :class =>"chatroom-avatar", crop: :fill %>
        <h5><%= match.mate.username %></h5>
          <%# <p>= match.mate.created_at</p> %>
      <% end %>
    <% end %>
    <div class="chatroom-back-button">
      <%= link_to '', matches_path, class: "fas fa-chevron-left", style: "text-decoration: none" %>
    </div>
  </div>


<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="bottom">
    <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|
    %>
    <%= f.input :content,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div>
  <%#= render "navbar/navbar"%>
</div>
