  <div class="chatroom-header">
    <% @chatroom.matches.each do |match| %>
      <% if match.user_id != current_user.id %>
        <%= cl_image_tag match.user.photos.first.key, :class =>"chatroom-avatar", crop: :fill %>
        <p><%= match.user.username %></p>
      <% elsif match.mate_id != current_user.id%>
        <%= cl_image_tag match.mate.photos.first.key, :class =>"chatroom-avatar", crop: :fill %>
        <p><%= match.mate.username %></p>
      <% end %>
    <% end %>
    <div class="chatroom-back-button">
      <%= link_to '', matches_path, class: "fas fa-chevron-left", style: "text-decoration: none" %>
    </div>
  </div>


<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-user-id-value=" <%= current_user.id%>"
  >

  <% @chatroom.matches.each do |match| %>
    <% if match.user_id != current_user.id %>
      <div class="match-date">
        You and <%= match.user.username %> matched on <%= match.user.created_at.strftime("%B %d, %Y") %>
      </div>
    <% elsif match.mate_id != current_user.id %>
      <div class="match-date">
        You and <%= match.mate.username %> matched on <%= match.mate.created_at.strftime("%B %d, %Y") %>
      </div>
    <% end %>
  <% end %>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="bottom">
    <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex input-group"} do |f|
    %>
    <%= f.input :content,
      as: :string,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "form-outline flex-grow-1"},
      input_html: { class: 'form-control' }
    %>
    <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div>
  <%#= render "navbar/navbar"%>
</div>
