<div>
  <i class="fas fa-chevron-left"></i>
  <%# <%= link_to "", match_path(match) %>

</div>

  <div class="navbar-profil flex-wrap", style= "border-bottom: 1px solid #e9ecef;">
    <% @chatroom.matches.each do |match| %>
      <% if match.user_id != current_user.id %>
        <div>
          <%= cl_image_tag match.user.photos.first.key, :class =>"message-avatar", crop: :fill %></div>
        <div class="mx-3 text-dark-gray">
          <h4><%= match.user.username %></h4>
          <p><em><%= match.user.created_at %><em></p>
        </div>
      <% elsif match.mate_id != current_user.id%>
        <div >
          <%= cl_image_tag match.mate.photos.first.key, :class =>"message-avatar", crop: :fill %></div>
        <div class="mx-3 text-dark-gray">
          <h4><%= match.mate.username %></h4>

        </div>
      <% end %>
    <% end %>
  </div>

<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="bottom">
    <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|
    %>
    <%= f.input :content,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div>
  <%#= render "navbar/navbar"%>
</div>
