<div class="text-align-center">

  <div class="row astrotab pb-4 pt-4">
    <div class="col-1">
      <h6 class="verticaltext"><%= (I18n.t "astroboard.signs").upcase %></h6>
    </div>

    <div class="col-10">


      <div class="border-bottom">

        <div class="row astrotab">

          <div class ="col-4 text"> <%=current_user.rising.capitalize%></div>
          <div class ="col-6 text grey-background pt-1"><strong>↑ ASCENDANT</strong></div>
          <div class ="col-2"><h6>1</h6></div>

        </div>

      </div>
      <% @signs.each do |sign| %>
        <% if sign.count == 1 %>
          <div class="border-bottom">
            <div class="row astrotab">

              <div class ="col-4 text">
                <%=I18n.t "signs.#{sign[0]["sign"]}"%>
              </div>

              <div class ="col-6 text grey-background pt-1">
                <strong><%=sign[0]["logo"]%> <%=(I18n.t "planets.#{sign[0]["planet"]}").upcase%></strong>
              </div>

              <div class ="col-2 text">
                <%=sign[0]["house"]%>
              </div>

            </div>

          </div>

        <% elsif sign.count == 2 %>
          <div class="border-bottom">

            <div class="row astrotab">

              <div class ="col-4 text">
                <%=I18n.t "signs.#{sign[0]["sign"]}"%>
              </div>

              <div class ="col-6 text grey-background pt-1">
                <strong><%=sign[0]["logo"]%> <%=(I18n.t "planets.#{sign[0]["planet"]}").upcase%></strong>
              </div>

              <div class ="col-2 text">
                <%=sign[0]["house"]%>
              </div>
            </div>

            <div class="row astrotab">
              <div class ="col-4 text">
              </div>

              <div class ="col-6 text grey-background pt-1">
                <strong><%=sign[1]["logo"]%> <%=(I18n.t "planets.#{sign[1]["planet"]}").upcase%></strong>
              </div>

              <div class ="col-2">
              </div>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-1 d-flex">
      <h6 class="verticaltext"><%= (I18n.t "astroboard.houses").upcase %></h6>
    </div>

  </div>
</div>
