<div class="row">
  <div class="col-1 d-flex flex-column pe-1 ps-0">
    <h6 class="verticaltext signs">
      <%= (I18n.t "astroboard.signs").upcase %>
    </h6>
  </div>

  <div class="col-10 border">
    <div class="row">
      <div class="col-5 px-0">
        <% @my_signs.each do |sign_group| %>
          <% i = 0 %>
          <% sign_group.each do |sign| %>
            <div class="cell<%= ' border-bottom' if i == (sign_group.count - 1) && sign_group != @my_signs.last %>">
              <div class="sign">
                <div class="<%= 'd-none' if i != 0 %>">
                  <%= I18n.t "signs.#{sign}" %>
                </div>
              </div>
            </div>
            <% i += 1 %>
          <% end %>
        <% end %>
      </div>

      <div class="col-5 px-2 planets-frame border-left border-right">
        <div>
          <% @my_planets.each do |planet| %>
            <div class="cell">
              <h6>
                <%= "#{planet.first} #{(I18n.t "planets.#{planet.last}.").upcase}" %>
              </h6>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-2 px-0">
        <div>
          <% @my_houses.each do |house_group| %>
            <% i = 0 %>
            <% house_group.each do |house| %>
              <div class="cell<%= ' border-bottom' if i == (house_group.count - 1) && house_group != @my_houses.last %>">
                <div class="house">
                  <h3 class="<%= 'd-none' if i != 0 %>">
                    <%= house %>
                  </h3>
                </div>
              </div>
              <% i += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1 d-flex flex-column-reverse ps-1 pe-0">
    <h6 class="verticaltext houses">
      <%= (I18n.t "astroboard.houses").upcase %>
    </h6>
  </div>
</div>
