<div class="astroboard">

  <%#--- User details ---%>
  <div class="container astroboard-user-details d-flex justify-content-between">
    <div>
      <div class="name">
        <%= current_user.username %>,
        <span class="age"><%= ((Date.today - current_user.birth_date)/365).floor %></span>
      </div>
      <div class="d-flex">
        <p class="mb-0">
          <span class="me-1">☉</i></span>
          <span class="me-2"><%= I18n.t "signs.#{current_user.sign.capitalize}" %></span>
        </p>
        <p class="mb-0">
          <span class="me-1">↑</span>
          <span class="me-2"><%= I18n.t "signs.#{current_user.rising.capitalize}" %></span>
        </p>
        <p class="mb-0">
          <span class="me-1">☽</span>
          <span class="me-2"><%= I18n.t "signs.#{current_user.moon.capitalize}" %></span>
        </p>
      </div>
    </div>
    <% if current_user.photos.any? %>
      <%= cl_image_tag current_user.photos.first&.key, :class =>"chatroom-avatar mt-2", crop: :fill %>
    <% end %>
  </div>

  <div data-controller="astroboard" height="80px">

    <%#--- Menu ---%>
    <div class="container mb-5 mt-2 border-bottom">
      <div class="row">
        <div class="col-4 text-center">
          <h5 data-action="click->astroboard#horoscope" data-astroboard-target="horoscope_menu" class="lead nav-hov"><%= I18n.t "astroboard.horoscope" %></h5>
        </div>
        <div class="col-4 text-center">
          <h5 data-action="click->astroboard#profile" data-astroboard-target="profile_menu"><%= I18n.t "astroboard.profile" %></h5>
        </div>
        <div class="col-4 text-center">
          <h5 data-action="click->astroboard#score" data-astroboard-target="score_menu"><%= I18n.t "astroboard.affinities" %></h5>
        </div>
      </div>
    </div>

    <%#--- Content ---%>
    <div data-astroboard-target="horoscope">
      <%= render "astroboard/horoscope"%>
    </div>
    <div data-astroboard-target="profile" class="d-none">
      <%= render "astroboard/profile"%>
    </div>
    <div data-astroboard-target="score" class="d-none">
      <%= render "astroboard/score"%>
    </div>

  </div>
</div>

<div class="circle-container z-0">
  <div class="circle-white">
  </div>
</div>
