
<div class="astroboard">

  <div class="container border-bottom d-flex justify-content-between py-2">
    <div>
      <div class="name">
        <%= current_user.username %>,
        <span class="age"><%= ((Date.today - current_user.birth_date)/365).floor %></span>
      </div>
      <div class="d-flex">
        <p class="mb-0">
          <span class="me-1">☉</i></span>
          <span class="me-2"><%= current_user.sign.capitalize %></span>
        </p>
        <p class="mb-0">
          <span class="me-1">↑</span>
          <span class="me-2"><%= current_user.rising.capitalize %></span>
        </p>
        <p class="mb-0">
          <span class="me-1">☽</span>
          <span class="me-2"><%= current_user.moon.capitalize %></span>
        </p>
      </div>
    </div>

    <%= cl_image_tag current_user.photos.first.key, :class =>"chatroom-avatar mt-2", crop: :fill %>
  </div>
  
<br>

  <div data-controller="dashboard" height="80px">


    <div class="d-flex justify-content-between navbar-menu z-1">
      <h4 data-action="click->dashboard#horoscope" data-dashboard-target="horoscope_menu" class="lead nav-hov"><em>Horoscope</em></h4>

      <h4>|</h4>
      <h4 data-action="click->dashboard#profile" data-dashboard-target="profile_menu">Profile</h4>
      <h4>|</h4>
      <h4 data-action="click->dashboard#chart" data-dashboard-target="chart_menu">Chart</h4>
      <h4>|</h4>
      <h4 data-action="click->dashboard#score" data-dashboard-target="score_menu">Affinities</h4>
    </div>

    <div data-dashboard-target="horoscope">
      <%= render "dashboard/horoscope"%>
    </div>

    <div data-dashboard-target="profile" class="d-none">
      <%= render "dashboard/profile"%>
    </div>

    <div data-dashboard-target="chart" class="d-none">
      <%= render "dashboard/chart"%>
    </div>

    <div data-dashboard-target="score" class="d-none">
      <%= render "dashboard/score"%>
    </div>

  </div>
</div>

<div class="circle-container z-0">
  <div class="circle-white">
  </div>
</div>


<%# Save Code Gita %>

<%# <div class=""> %>

  <%# <div data-controller="dashboard" height="80px"> %>

    <%# <div class="d-flex justify-content-between navbar-menu z-1"> %>
      <%# <h4 data-action="click->dashboard#horoscope" data-dashboard-target="horoscope_menu" class="lead"><em>Horoscope</em></h4> %>
      <%# <h4>|</h4> %>
      <%# <h4 data-action="click->dashboard#profile" data-dashboard-target="profile_menu"><em>Profile</em></h4> %>
      <%# <h4>|</h4> %>
      <%# <h4 data-action="click->dashboard#score" data-dashboard-target="score_menu"><em>Affinities</em></h4> %>
      <%# <h4>|</h4> %>
      <%# <h4 data-action="click->dashboard#chart" data-dashboard-target="chart_menu"><em>Chart</em></h4> %>
    <%# </div> %>

    <%# <div data-dashboard-target="horoscope"> %>
      <%#= render "dashboard/horoscope"%>
    <%# </div> %>

    <%# <div data-dashboard-target="profile" class="d-none"> %>
      <%#= render "dashboard/profile"%>
    <%# </div> %>

    <%# <div data-dashboard-target="score" class="d-none"> %>
      <%#= render "dashboard/score"%>
    <%# </div> %>

    <%# <div data-dashboard-target="chart" class="d-none"> %>
      <%#= render "dashboard/chart"%>
    <%# </div> %>

  <%# </div> %>
<%# </div> %>

<%# <div class="circle-container z-0"> %>
  <%# <div class="circle-white"> %>
  <%# </div> %>
<%# </div> %>
