<div class="background-violet">
  <div class="container z-1">

    <div class="" data-controller="dashboard">
      <div class="d-flex justify-content-between navbar-menu">
        <h6 data-action="click->dashboard#horoscope"><em>Horoscope</em></h6>
        <h6>|</h6>
        <h6 data-action="click->dashboard#profile"><em>Profile</em></h6>
        <h6>|</h6>
        <h6 data-action="click->dashboard#compatibilities"><em>Score</em></h6>
        <h6>|</h6>
        <h6 data-action="click->dashboard#table"><em>Table</em></h6>
        <h6>|</h6>
        <h6 data-action="click->dashboard#circle"><em>Circle</em></h6>
      </div>

      <div data-dashboard-target="horoscope" class="font-weight-bold">
        <%= render "dashboard/horoscope"%>
      </div>

      <div data-dashboard-target="profile" class="d-none">
        <%= render "dashboard/profile"%>
      </div>

      <div data-dashboard-target="table" class="d-none">
        <%= render "dashboard/table"%>
      </div>

      <div data-dashboard-target="compatibilities" class="d-none">
        <%= render "dashboard/compatibilities"%>
      </div>

      <div data-dashboard-target="circle" class="d-none">
        <%= render "dashboard/circle"%>
      </div>
    </div>

  </div>
  <div class="circle-container">
    <div class="circle-white">
    </div>
  </div>
</div>

<div height="10vh">
  <%= render "navbar/navbar_two"%>
</div>
