<div class="container pb-5" data-controller="places" data-action="google-maps-callback@window->places#initMap">
  <div class="row mt-5">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4" data-controller="places">
      <h2>Nous ne pouvons pas calculer ton Astroprofil</h2>
        <%# if resource.errors.any? %>
          <%# resource.errors.full_messages.each do |message|%>
            <div class="error_notification alert-danger"><%#= message %></div>
          <%# end %>
        <%# end %>
  <%= simple_form_for(@user, url: update_user_path, method: :put)  do |f| %>
        <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs pb-3">
          <%= f.input :birth_date,
                      as: :date,
                      start_year: Date.today.year,
                      end_year: Date.today.year - 90,
                      required: true %>
          <%= f.input :birth_hour,
                      required: true %>
          <%= f.text_field :country,
                            type: :hidden,
                            data: {target: "places.country"} %>
          <%= f.text_field :city,
                            type: :hidden,
                            data: {target: "places.city"} %>
          <%= f.text_field :utcoffset,
                            type: :hidden,
                            data: {target: "places.utcoffset"} %>
          <%= f.text_field :latitude,
                            type: :hidden,
                            data: {target: "places.latitude"} %>
          <%= f.text_field :longitude,
                            type: :hidden,
                            data: {target: "places.longitude"} %>
          <%= f.search_field :birth_location,
                              label: "Birth location",
                              data: {target: "places.field"},
                              class: "form-control",
                              error: f.full_error(:birth_location) %>
          <div class="d-flex justify-content-between">
            <%= f.input :gender,
                        as: :radio_buttons,
                        collection: [['2', 'female'], ['1', 'male']],
                        label_method: :second,
                        value_method: :first,
                        required: true %>
            <%= f.input :looking_for,
                        as: :radio_buttons,
                        collection: [['1', 'male'], ['2', 'female']],
                        label_method: :second,
                        value_method: :first,
                        required: true %>
          </div>
        <div class="" data-controller = "loading">
          <div class="form-actions d-flex flex-column" data-action="click->loading#load">
            <%= f.button :submit,
                          "Calculer mon Astroprofil",
                          class: "btn btn-primary"%>
          </div>
          <div class="modal fade" data-loading-target="modal"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content text-center">
                <%#= render "loading" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
