<%# Carousel photos %>
<div id="carouselPhotos" class="carousel slide" data-bs-touch="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photos.first.key, height: 450, width: 390, crop: :fill %>')"></div>
    </div>
    <div class="carousel-item">
      <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photos.first.key, height: 450, width: 390, crop: :fill %>')"></div>
    </div>
    <div class="carousel-item">
      <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photos.first.key, height: 450, width: 390, crop: :fill %>')"></div>
    </div>
  </div>
  <%# <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhotos" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPhotos" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> %>
</div>

<div class="container detailed-profile-content">
  <div class="py-3">
    <div class="d-flex justify-content-between border-bottom">
      <div>
        <div class="name">
          <%= current_user.username %>,
          <span class="age"><%= ((Date.today - current_user.birth_date)/365).floor %></span>
        </div>
        <div class="d-flex">
          <p>
            <span class="me-1">☉</i></span>
            <span class="me-2"><%= current_user.sign.capitalize %></span>
          </p>

          <p>
            <span class="me-1">↑</span>
            <span class="me-2"><%= current_user.rising.capitalize %></span>
          </p>

          <p>
            <span class="me-1">☽</span>
            <span class="me-2"><%= current_user.moon.capitalize %></span>
          </p>
        </div>
      </div>
      <div class="edit-button">
        <%= link_to "",  edit_user_registration_path, class: "far fa-edit" %>
      </div>
    </div>

    <div class="py-2 border-bottom">
      <h5 class="mb-1">
        About me
      </h5>
      <p>
        <%= current_user.description %>
      </p>
    </div>

    <div class="pt-2 pb-4 border-bottom">
      <h5 class="mb-1">
        My passions
      </h5>
        <% eval(current_user.hobbies).each do |hobby| %>
          <div class="tag">
            <%= hobby %>
          </div>
        <% end %>
    </div>
    <div class="d-flex justify-content-center py-5">
      <div class="logout-button">
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
</div>
  <div class="empty-row">
  </div>
