<%#--- Carousel photos ---%>
<div id="carouselPhotos" class="carousel slide" data-bs-touch="true">
  <div class="carousel-indicators">
    <% current_user.photos.each_with_index do |photo, index| %>
      <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="<%= index %>" class=<%= "active" if index.zero? %> aria-current=<%= "true" if index.zero? %> aria-label="Slide <%= index + 1 %>"></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% current_user.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= "active" if index.zero? %>">
        <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photos[index].key, height: 450, width: 410, crop: :fill %>')"></div>
      </div>
    <% end %>
  </div>
</div>

<div class="container detailed-profile-content">
  <div class="py-3">
    <div class="d-flex justify-content-between border-bottom">
      <div>
        <div class="name">
          <%= current_user.username %>,
          <span class="age"><%= ((Date.today - current_user.birth_date)/365).floor %></span>
        </div>
        <div class="d-flex">
          <p>
            <span class="me-1">☉</i></span>
            <span class="me-2"><%= I18n.t "signs.#{current_user.sign.capitalize}" %></span>
          </p>

          <p>
            <span class="me-1">↑</span>
            <span class="me-2"><%= I18n.t "signs.#{current_user.rising.capitalize}" %></span>
          </p>

          <p>
            <span class="me-1">☽</span>
            <span class="me-2"><%= I18n.t "signs.#{current_user.moon.capitalize}" %></span>
          </p>
        </div>
      </div>
      <div class="edit-button">
        <%= link_to "",  edit_infos_path, class: "far fa-edit" %>
      </div>
    </div>

    <div class="py-2 border-bottom">
      <h5 class="mb-1">
        <%= I18n.t "description_title" %>
      </h5>
      <p>
        <%= current_user.description %>
      </p>
    </div>

    <div class="pt-2 pb-4 border-bottom">
      <h5 class="mb-1">
        <%= I18n.t "hobbies_title" %>
      </h5>
        <% if current_user.hobbies %>
          <% current_user.hobbies.each do |hobby| %>
            <div class="tag">
              <%= hobby %>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="d-flex justify-content-center py-2">
        <div class="logout-button">
          <%= link_to "#{I18n.t "password_button"}", edit_password_path %>
        </div>
    </div>
    <div class="d-flex justify-content-center py-2">
      <div class="logout-button">
        <%= link_to "#{I18n.t "log_out_button"}", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
</div>
  <div class="empty-row">
  </div>
