<div class="d-flex justify-content-end">

</div>

<div id="backgroundcolor">
  <div class="astrocrush">Astrocrush</div>
  <div class="profiles d-flex flex-column align-items-center" data-controller="swipe" >
    <% if @users.any? %>
      <% @users.each do |user| %>

        <div class="profile" data-swipe-target="user" data-id="<%= user.id %>">
            <div class="profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path user.photos.first.key, height: 700, width: 390, radius: 0,crop: :fill %>')">
            <div class="profile-infos">

               <div class="boutons">
                <% if eval(current_user.affinity_scores)[user.id] >= 80 %>
                  <% level = "high" %>
                <% elsif eval(current_user.affinity_scores)[user.id].in?(60..79) %>
                  <% level = "mid-high" %>
                <% elsif eval(current_user.affinity_scores)[user.id].in?(40..59) %>
                  <% level = "neutral" %>
                <% elsif eval(current_user.affinity_scores)[user.id].in?(20..39) %>
                  <% level = "mid-low" %>
                <% else %>
                  <% level = "low" %>
                <% end %>
                <div class="profile-match-score">
                  <div class="score-planet-<%= level %>">
                      <%= eval(current_user.affinity_scores)[user.id] %>
                    <div class="score-ring-<%= level %>"></div>
                  </div>
                </div>

              </div>


              <div class="profile-name d-flex justify-content-between align-items-center">
                <div><%= user.username %>
                  <span class="profile-age"><%= ((Date.today - user.birth_date)/365).floor %></span>
                </div>
                <div class="profile-details"><%= link_to '', user_path(user), class: "fas fa-info-circle", style: "text-decoration: none" %></div>

              </div>
              <div class="profile-description">
                <div class="d-flex  pb-3">
                  <span class="me-1">☉</i></span>
                  <span class="me-2"><%= user.sign.capitalize %></span>

                  <span class="me-1">↑</span>
                  <span class="me-2"><%= user.rising.capitalize %></span>

                  <span class="me-1">☽</span>
                  <span class="me-2"><%= user.moon.capitalize %></span>
                </div>
              </div>



            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="profile">
      </div>
    <% end %>


    <!-- Modale de match--> <!-- just removed data-bs-target = "modal"-->
    <div class="modal fade" data-swipe-target="modal"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" data-swipe-target="modalbody">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div>
  <%= render "navbar/navbar_two"%>
</div>
