<div id="backgroundcolor">

  <div class="profiles" data-controller="swipe" >
    <% if @users.any? %>
        <% @users.each do |user| %>

          <div class="profile" data-swipe-target="user" data-id="<%= user.id %>">
              <div class="profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path user.photos.first.key, height: 700, width: 380, radius: 12,crop: :fill %>')">
              <div class="profile-infos">

                <div class="profile-name">
                  <%= user.username %>
                  <span class="profile-age"><%= ((Date.today - user.birth_date)/365).floor %></span>

                </div>
                <div class="profile-description">
                  <div class="d-flex border-bottom pb-3">
                    <span class="me-1">☉</i></span>
                    <span class="me-2"><%= user.sign.capitalize %></span>

                    <span class="me-1">↑</span>
                    <span class="me-2"><%= user.rising.capitalize %></span>

                    <span class="me-1">☽</span>
                    <span class="me-2"><%= user.moon.capitalize %></span>
                  </div>
                </div>

                <div class="round-items d-flex align-items-center justify-content-around">
                <% if eval(current_user.affinity_scores)[user.id] > 80 %>
                  <div class="profile-match-score" style="background-color: green"><%= eval(current_user.affinity_scores)[user.id]%></div>
                <% elsif eval(current_user.affinity_scores)[user.id].in?(50..80) %>
                  <div class="profile-match-score" style="background-color: yellow"><%= eval(current_user.affinity_scores)[user.id]%></div>
                <% elsif eval(current_user.affinity_scores)[user.id].in?(20..50) %>
                  <div class="profile-match-score" style="background-color: orange"><%= eval(current_user.affinity_scores)[user.id]%></div>
                <% else %>
                  <div class="profile-match-score" style="background-color: red"><%= eval(current_user.affinity_scores)[user.id]%></div>
                <% end %>

                  <div class="profile-details"><%= link_to '', user_path(user), class: "fas fa-info-circle", style: "text-decoration: none" %></div>
                </div>

              </div>
            </div>
          </div>
        <% end %>
    <% else %>
      <div class="profile">
      </div>
    <% end %>
    </div>

    <!-- Modale de match-->
    <div class="modal fade" data-swipe-target="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" data-swipe-target="modalbody">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <%= render "navbar/navbar"%>
</div>
