<h1>index (swipe a gauche ou a droite)</h1>
  <!-- <%= @users.each do |user| %>
    <div class="user" data-controller="swipe">
      <div class="photo">
        <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill %>
      </div>
      <div class="d-flex">
        <%= user.username %>
        <%= user.age %>
      </div>
    </div>
  <% end %> -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <%= @users.each do |user| %>
      <div class="carousel-item active">

        <!-- Card of user-->
        <div class="user d-flex flex-column">

          <!-- Photo of user -->
          <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill %>

          <!-- User infos-->
          <div>
            <h2><%= user.username %>, <%= user.age %></h2>
          </div>

        </div>
      </div>
      <% end %>
  </div>
</div>
