<div id="backgroundcolor">

  <div class="d-flex flex-column align-items-center" data-controller="swipe">
    <div class="empty-user d-none" >
      <%= image_tag("simba.webp", height: 300, width: 300) %>
      <h2>Plus d'autres utilisateurs. Il n'y a plus qu'à voir si les planètes s'alignent...</h2>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        <% @users.each do |user| %>
          <div class="carousel-item user-card p-1" >

            <div class="d-flex flex-column" data-swipe-target="user" data-current-user-id="<%= current_user.id %>" data-mate-id="<%= user.id %>">
              <div class=" cloudimage-container">
              <%= cl_image_tag user.photos.first.key, height: 650, width: 410, crop: :fill %>
              </div>
              <div class="user-infos">
                <h2><%= user.username %></h2>
              </div>

              <div class=" d-flex justify-content-around p-3">
                <div class="fas fa-ban" data-action="click->swipe#swipeLeft"></div>
                <div class="fas fa-heart" data-action="click->swipe#swipeRight"></div>
              </div>

            </div>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>
