<%# Carousel photos %>
<div id="carouselPhotos" class="carousel slide" data-bs-touch="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselPhotos" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @mate.photos[0].key, height: 450, width: 410, crop: :fill %>')"></div>
    </div>
    <div class="carousel-item">
      <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @mate.photos[1].key, height: 450, width: 410, crop: :fill %>')"></div>
    </div>
    <div class="carousel-item">
      <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @mate.photos[2].key, height: 450, width: 410, crop: :fill %>')"></div>
    </div>
  </div>
  <%# <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhotos" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPhotos" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> %>
</div>

<%# <div class="background"> %>
<div class="container detailed-profile-content">
    <div class="py-3">
      <div class="d-flex justify-content-between border-bottom pb-2">
        <div>
          <div class="name">
            <%= @mate.username %>,
            <span class="age"><%= ((Date.today - @mate.birth_date)/365).floor %></span>
          </div>
          <div class="d-flex">
            <p>
              <span class="me-1">☉</i></span>
              <span class="me-2"><%= @mate.sign.capitalize %></span>
            </p>
            <p>
              <span class="me-1">↑</span>
              <span class="me-2"><%= @mate.rising.capitalize %></span>
            </p>
            <p>
              <span class="me-1">☽</span>
              <span class="me-2"><%= @mate.moon.capitalize %></span>
            </p>
          </div>
        </div>

        <div class="score-container">
          <% if current_user.affinity_scores[params[:id].to_i] >= 80 %>
            <% level = "high" %>
          <% elsif current_user.affinity_scores[params[:id].to_i].in?(60..79) %>
            <% level = "mid-high" %>
          <% elsif current_user.affinity_scores[params[:id].to_i].in?(40..59) %>
            <% level = "neutral" %>
          <% elsif current_user.affinity_scores[params[:id].to_i].in?(20..39) %>
            <% level = "mid-low" %>
          <% else %>
            <% level = "low" %>
          <% end %>
          <div class="score-planet-<%= level %>">
            <%= current_user.affinity_scores[params[:id].to_i] %>
            <div class="score-ring-<%= level %>"></div>
          </div>
        </div>
      </div>

      <div class="pt-2 pb-4 border-bottom">
        <h5 class="mb-1">
          About me
        </h5>
        <p>
          <%= @mate.description %>
        </p>
      </div>

      <div class="pt-2 pb-5 border-bottom">
        <h5 class="mb-1">
          My passions
        </h5>
        <% @mate.hobbies.each do |hobby| %>
        <div class="tag">
          <%= hobby %>
        </div>
        <% end %>
      </div>

      <div class="pt-2 pb-5 border-bottom">
        <h5 class="mb-1">
          <%= current_user.partner_reports[params[:id].to_i]['title'] %>
        </h5>

        <div class="relation-container">
          <div class="relation-icon">
            <i class="fas fa-venus-mars"></i>
          </div>
          <div class="relation-text">
            <p>
              <%= current_user.partner_reports[params[:id].to_i]['msg'] %>
            </p>
          </div>
        </div>

        <p>Keywords:</p>

        <% current_user.partner_reports[params[:id].to_i]['tags'].split(",").each do |tag| %>
          <div class="tag">
            <%= tag %>
          </div>
        <% end %>
      </div>

      <div class="pt-2 pb-4 border-bottom">
        <h5 class="mb-1">
          <%= @mate.username %> is <%= @mate.sign %>. Let's find out what this says about <%= @mate.gender == 1 ? "him" : "her" %>...
        </h5>

        <div class="sign-picture-container">
          <div class="sign-picture">
            <%= image_tag "#{@mate.sign.downcase}.svg", alt: "" %>
          </div>
        </div>

        <% sun_report = eval(current_user.mate_sun_reports)[params[:id].to_i]['report'].split(".") %>
        <%# Carousel text %>
        <div id="carouselText" class="carousel pb-3 carousel-dark slide" data-bs-touch="true">
          <div class="carousel-indicators">
            <% sun_report.each_with_index do |element, i| %>
              <button type="button" data-bs-target="#carouselText" data-bs-slide-to="<%= i %>" class=<%= "active" if i.zero? %> aria-current=<%= "true" if i.zero? %> aria-label="Slide <%= i + 1 %>"></button>
            <% end %>
          </div>
          <div class="carousel-inner">
            <% sun_report.each_with_index do |element, i| %>
              <div class="carousel-item <%= 'active' if i.zero? %>">
                <div class="sign-text">
                  <p>
                    <%= element %>.
                  </p>
                </div>
              </div>
            <% end %>
          <%# <button class="carousel-control-prev" type="button" data-bs-target="#carouselText" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselText" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> %>
        </div>
      </div>
    </div>
  </div>

  <div class="empty-row">
  </div>

  <div class="buttons-box">
    <%= link_to "", root_path, class: "reject-button" %>
    <%= link_to "↑ Back", root_path, class: "back-button" %>
    <%= link_to root_path, class: "like-button" do %>
      <%= embedded_svg("heart_fill.svg") %>
    <% end %>
  </div>
<%# </div> %>


<!-- Boostrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
