<%# Carousel photos %>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @mate.photos.first.key, height: 450, width: 390, crop: :fill %>')"></div>
    </div>
    <div class="carousel-item">
      <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @mate.photos.first.key, height: 450, width: 390, crop: :fill %>')"></div>
    </div>
    <div class="carousel-item">
      <div class="detailed-profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @mate.photos.first.key, height: 450, width: 390, crop: :fill %>')"></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container detailed-profile-content">
  <div class="py-3">
    <div class="d-flex justify-content-between">
      <h1>
        <strong><%= @mate.username %></strong>,
        <span><%= ((Date.today - @mate.birth_date)/365).floor %> ans</span>
      </h1>

      <h1>
        <%= eval(current_user.affinity_scores)[params[:id].to_i] %>%
      </h1>
    </div>

    <div class="d-flex border-bottom pb-3">
      <span class="me-1">☉</i></span>
      <span class="me-2"><%= @mate.sign.capitalize %></span>

      <span class="me-1">↑</span>
      <span class="me-2"><%= @mate.rising.capitalize %></span>

      <span class="me-1">☽</span>
      <span class="me-2"><%= @mate.moon.capitalize %></span>
    </div>

    <div class="pt-2 border-bottom">
      <h5 class="mb-1">
        A propos de moi
      </h5>
      <p>
        <%= @mate.description %>
      </p>
    </div>

    <div class="pt-2 border-bottom">
      <h5 class="mb-1">
        Mes passions
      </h5>
      <p>
        <%= @mate.hobbies %>
      </p>
    </div>

    <div class="pt-2 border-bottom">
      <h5 class="mb-1">
        Ma relation avec <%= @mate.username %> vue par les planètes...
      </h5>
      <% eval(current_user.love_compatibility_reports)[params[:id].to_i].each do |element| %>
        <p>
          <%= element %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div>
  <%= render "navbar/navbar"%>
</div>

<!-- Boostrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
