<div id="backgroundcolor">

  <div class="profiles" data-controller="swipe" >
 <!-- Ce profiles reste une carte transparente par dessus l'utilisateur suivant, pourquoi ?-->
    <% if @users.any? %>
        <% @users.each do |user| %>

          <div class="profile" data-swipe-target="user" data-id="<%= user.id %>">

              <div class="profile-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path user.photos.first.key, height: 650, width: 390, radius: 12,crop: :fill %>')">
              <div class="profile-infos">
                <div class="profile-match-score">88</div>
                <div class="profile-details"><%= link_to '', user_path(user), class: "fas fa-eye text-decoration-none text-dark" %></div>
                <div class="profile-name"><%= user.username %> <span class="profile-age">42</span> </div>
                <div class="profile-description"><%= user.description %></div>
              </div>

            </div>
          </div>
        <% end %>
    <% else %>
      <div class="profile">
      </div>
    <% end %>
    </div>

  </div>
</div>
