  <div class="navbar-dashboard row justify-content-between">
    <div class="col-9 d-flex text-light">
      <h2><%= current_user.username %>, <%#= current_user.age %></h2>
      <div>
        <p><%#= current_user.star_sign.logo %></p><p><em><%#= current_user.star_sign %></em></p>
        <p><%#= current_user.risign.logo %></p><p><em><%#= current_user.risign %></em></p>
        <p><%#= current_user.moon.logo %></p><p><em><%#= current_user.moon %></em></p>
      </div>
    </div>

    <div class="col-3 justify-content-center">
      <%= cl_image_tag current_user.photos.first.key, :class => "avatar-extra-large", crop: :fill %>
    </div>
  </div>

  <div class="row justify-content-between border-bottom">
    <div class="col-3 d-flex p-2">
      <%= link_to "#" do %>
      <i class="fas fa-wrench"></i>
      <% end %>
      <p><em>Mon profil</em></p>
    </div>

    <div class="col-3 d-flex p-2">
      <%= link_to "#" do %>
      <i class="fas fa-pen"></i>
      <% end %>
      <p><em>Mon thème</em></p>
    </div>

    <div class="col-3 d-flex p-2">
      <%= link_to "#" do %>
      <i class="fas fa-shield-alt"></i>
      <% end %>
      <p><em>settings</em></p>
    </div>

    <div class="col-3 d-flex p-2">
      <%= link_to "#" do %>
        <i class="fas fa-shield-alt"></i>
      <% end %>
      <p><em>settings</em></p>
    </div>
  </div>

  <div>
    <div class="d-flex justify-content-center">
      <h4 class="p-3"><em>TABLE</em></h4>
      <h4 class="p-3"><em>|</em></h4>
      <h4 class="p-3"><em>CIRCLE</em></h4>
    </div>

    <div data-controller="dashboard" id="slider" width=65%>
      <figure>
        <div class="row"><%= render "dashboard/table"%></div>
      </figure>
    </div>
  </div>
