<div class="astrocrush-header">
  <i class="fas fa-meteor"></i>Astrocrush
</div>

<div class="matches-and-messages-container">

  <div class="new-matches-container">
    <h3>New Matches</h3>

    <div class="glide" data-controller="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <% @matches.each do |match| %>
            <li class="glide__slide">
              <div class="match-photo">
                  <% if match.mate_for(current_user).photos.any?  %>
                    <%= cl_image_tag(match.mate_for(current_user).photos.first&.key, :class => "match-photo") %>
                    <h1> <%= match.mate_for(current_user).username %> </h1>
                    <div class="score-planet-mid-low">
                      <%= match.score %>
                    </div>
                    <%#= link_to match.user.username, user_path(match.user), class: "fas fa-info-circle", style: "text-decoration: none" %>
                  <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="messages-container">
    <h3>
      Messages
    </h3>

    <% @matches.each do |match| %>
      <div class="message-card">
        <% if match.mate_for(current_user).photos.any?  %>
          <%= cl_image_tag(match.mate_for(current_user).photos.first&.key, class: "message-avatar") %>
        <% end %>

        <div class="message-text">

          <h5 class="message-username">
            <%#= match.mate.username %>
            <%= link_to match.mate_for(current_user).username, chatroom_path(match.chatroom) %>
          </h5>

          <p class="message-content">
            <%#= TO DO %>
          </p>

        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "navbar/navbar_screens" %>



  <%# <h1><%= match.mate.username</h1> %>

                <%# <%= match.score %>
                <%# <%= match.status&.capitalize %>
                <%# <%= link_to "  ", match_path(match), method: :delete   %>
