<div class="astrocrush-header">
  <i class="fas fa-meteor"></i>Astrocrush
</div>

<div class="matches-and-messages-container">

  <div class="new-matches-container">
    <h3>New Matches</h3>
      <% if @matches.count > 3 %>
        <div class="glide" data-controller="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <% @matches.each do |match| %>


                  <li class="glide__slide">
                <div class="match-photo">
                        <% if match.mate.photos.any?  %>
                          <%= cl_image_tag(match.mate.photos.first&.key, :class => "match-photo") %>
                          <%#= link_to match.user.username, user_path(match.user), class: "fas fa-info-circle", style: "text-decoration: none" %>
                        <% end %>
                    </div>

                    <h1> <%= match.mate.username %> </h1>
                    <%= link_to " delete ", match_path(match), method: :delete %>

                    <div class="small-score-container">
                      <% if eval(current_user.affinity_scores)[match.mate_id.to_i] >= 80 %>
                        <% level = "high" %>
                      <% elsif eval(current_user.affinity_scores)[match.mate_id.to_i].in?(60..79) %>
                        <% level = "mid-high" %>
                      <% elsif eval(current_user.affinity_scores)[match.mate_id.to_i].in?(40..59) %>
                        <% level = "neutral" %>
                      <% elsif eval(current_user.affinity_scores)[match.mate_id.to_i].in?(20..39) %>
                        <% level = "mid-low" %>
                      <% else %>
                        <% level = "low" %>
                      <% end %>
                      <div class="small-score-planet-<%= level %>">
                        <%= eval(current_user.affinity_scores)[match.mate_id.to_i] %>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% else %>
      <div class="d-flex">
        <% @matches.each do |match| %>
          <li>
            <div class="match-photo ">
                <% if match.mate.photos.any?  %>
                  <%= cl_image_tag(match.mate.photos.first&.key, :class => "match-photo") %>
                  <%#= link_to match.user.username, user_path(match.user), class: "fas fa-info-circle", style: "text-decoration: none" %>
                <% end %>
            </div>

            <h1> <%= match.mate.username %> </h1>
            <%= link_to " delete ", match_path(match), method: :delete %>

            <div class="small-score-container">
              <% if eval(current_user.affinity_scores)[match.mate_id.to_i] >= 80 %>
                <% level = "high" %>
              <% elsif eval(current_user.affinity_scores)[match.mate_id.to_i].in?(60..79) %>
                <% level = "mid-high" %>
              <% elsif eval(current_user.affinity_scores)[match.mate_id.to_i].in?(40..59) %>
                <% level = "neutral" %>
              <% elsif eval(current_user.affinity_scores)[match.mate_id.to_i].in?(20..39) %>
                <% level = "mid-low" %>
              <% else %>
                <% level = "low" %>
              <% end %>
              <div class="small-score-planet-<%= level %>">
                <%= eval(current_user.affinity_scores)[match.mate_id.to_i] %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    <% end  %>
  </div>
  
  <div class="messages-container">
    <h3>
      Messages
    </h3>

    <% @matches.each do |match| %>
      <div class="message-card">
        <% if match.mate.photos.any?  %>
          <%= cl_image_tag(match.mate.photos.first&.key, class: "message-avatar") %>
        <% end %>

        <div class="message-text">

          <h5 class="message-username">
            <%#= match.mate.username %>
            <%= link_to match.mate.username, chatroom_path(match.chatroom) %>
          </h5>

          <p class="message-content">
            <%#= TO DO %>
          </p>

        </div>
      </div>
    <% end %>

  <div>
  <%= render "navbar/navbar_two" %>
</div>



  <%# <h1><%= match.mate.username %></h1> %>

                <%# <%= match.score%> %>
                <%# <%= match.status&.capitalize %>
                <%# <%= link_to "  ", match_path(match), method: :delete%> %>
