<div class="container pb-5" data-controller="places" data-action="google-maps-callback@window->places#initMap">
  <div class="row mt-5">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
      <h2>Mes intérêts</h2>
      <div data-controller="user-interests">
        <% @interests.each do |interest| %>
          <button data-controller="interest"
                  data-action="click->interest#toggle"
                  data-user-interests-target="button"
                  data-interest-target="button"
                  ui="<%= interest.user_interests.find_by(user_id: current_user.id).to_json %>"
                  u="<%=current_user.id%>"
                  i="<%=interest.id%>"
                  class="<%= interest.users.include?(@user) ? 'btn btn-primary m-1' : 'btn btn-light m-1' %>">
            <%= "#{interest.emoji} #{interest.name}" %>
          </button>
        <% end %>
        <div data-action="click->user-interests#update" class="btn-sign-up btn btn-primary m-3">
          <%#= link_to "Créer mon profil", "#" %>Créer mon profil
        </div>
      </div>
    </div>
  </div>
</div>
